body
   {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
      font-size: 80%;
   }

td { font-size: 80%;}
th { font-size: 80%;}

a:link    {color: #0000CC} 
a:visited {color: #0000CC}
a:active  {color: #0000CC}

pre { font-family: Courier New, Courier; 
      font-size: 120% }




